// 字体颜色
$font-orange: #ffa940;
$font-blue: #40a9ff;
$font-grey: #666;
$font-red: #ff4d4f;
$font-green: #3a9354;
$font-pink: #ff1824;
$font-black: #303133;
$font-purple: #3531B2;
$font-title-size: 20px; // 标题字号
$font-normal-size: 14px; // 正常字号
